.about-page {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 100%;
  min-height: 87.3vh;
}
.students {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 10px;
}
.about-page img {
  width: 200px;
}
.about-page h2 {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 2rem;
}
.about-page p {
  color: black;
  text-align: center;
  /* font-size: 1.1rem; */
}
.github-info {
  display: flex;
}
.github-info img {
  width: 40px;
  height: 40px;
}
.linkedin-info img {
  width: 40px;
  height: 40px;
}
.linkedin-info {
  display: flex;
}
a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: transform 0.2s ease;
}
a:hover {
  color: #a2516c;
  transform: scale(1.1);
}
