.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 87.3vh;
}
.not-found img {
  display: flex;
  width: 150px;
  border-radius: 150px;
  margin: 50px;
}
.not-found p {
  color: black;
  font-size: 1.5rem;
}
