.footer {
  width: 100%;
  height: 55px;
  background-color: #101318;
}
.footer img {
  width: 30px;
}
.footer a {
  color: whitesmoke;
  padding-bottom: 10px;
}
p {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: whitesmoke;
  transition: transform 0.2s ease;
}
.footer a:hover {
  transform: scale(1.01);
}
