h1 {
  color: black;
  font-size: 2.2rem;
  margin-top: 20px;
  margin-bottom: 0;
  text-shadow: 75px -15px 5px black;
}

h4 {
  margin: 5px;
}
.container {
  position: relative;
  width: 550px;
  height: 700px;
  background: whitesmoke;
  border: black solid 1px;
  box-shadow: -15px 15px 15px black;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-bottom: 20px;
}
.container::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -160px;
  transform: translateY(-50%);
  width: 50%;
  height: 50%;
  background-image: url('../assets/stylo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.add-btn {
  border-radius: 100px;
  border: 1px;
  margin: 5px;
  padding: 3px 10px;
  transition: padding 0.2s ease-in-out;
}
.add-btn:hover {
  cursor: pointer;
  background-color: #434e78;
  transform: scale(1.1);
}
input[type='checkbox'] {
  border-radius: 6px;
  accent-color: #434e78;
  cursor: pointer;
}
.delete-btn {
  background: none;
  font-size: 1.1rem;
  color: #a2516c;
  border: none;
  cursor: pointer;
}
.edit-btn {
  background: none;
  font-size: 1.1rem;
  color: #a2516c;
  border: none;
  cursor: pointer;
}
.added-task {
  display: flex;
  flex-direction: row;
}
