.navbar {
  width: 100%;
  height: 60px;
  background-color: #101318;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 900px;
}
.navbar img {
  margin: 5px;
  width: 45px;
  height: auto;
  border-radius: 30px;
  color: whitesmoke;
}
