.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #101318;
  box-shadow: -55px 15px 15px black;
  border-right: #101318 1px solid;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 100;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  outline: 2px solid whitesmoke;
  outline-offset: -20px;
}
.sidebar a {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: whitesmoke;
  transition: transform 0.2s ease;
  text-decoration: none;
}
.sidebar a:hover {
  color: #a2516c;
  cursor: pointer;
  transform: scale(1.1);
}

.sidebar.open {
  transform: translateX(0);
}

.burger-menu {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  /* margin-right: auto; */
  padding: 0 20px;
}

.close-menu {
  font-size: 34px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: block;
  margin: 20px 0 80px 180px;
}
